*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* index */
.body-index{
    font-size: 20px;
}
/* nabvar */
header{
    background-image: url(../assets/img/BARDERO$/Bardero$Bardero$.gif);
    width: 100%;
    height: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    padding: 4px ;
}
.navbar{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100px;
    align-items: center;
    text-decoration-color: whitesmoke;
    list-style: none;
    gap: 1.25rem;
    color: white;
    font-size: 20px;
    }
/* nabvar */

main{
    width: 100%;
    height: 1080px;
    color: white;
}
main h1{
    text-align: center;
}

.bardo{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 300px;
}
/* index */
.albums-barderos{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* discografia */
/* .music-card {
    width: 500px;
    height: 600px;
    border: 1px solid grey;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */


.musik-card {
    width: 400px;
    height: 450px;
    border: 1px solid grey;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.musik{
    display: grid;
    grid-template-columns: repeat(5, 18.75rem);
    gap: 48px;
    
    /* gap: 150px;
    height: 450px;
    justify-content: space-between;
    text-align: center;  */
}

.imginmortales{
    display: grid;
    grid-template-columns: 200px;
    gap: 48px;
    
    /* display: flex;
    flex-wrap: wrap-reverse;
    width: 1080px;
    height: 500px;
    justify-content: center;
    margin-left: 200px; */
    

}
main section div ul {
    display: flex;
    flex-direction: column;
}

/* Backgrounds */
.index{
    background-image: url(../assets/img/BARDERO$/pag1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080;
}
.discografia{
    background-image: url(../assets/img/BARDERO$/index.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 1080;
    
}
.homer{
    background-image: url(../assets/img/BARDERO$/h-pag2.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 1080;
    
}
.cro{
    background-image: url(../assets/img/BARDERO$/cro-pag3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 1080;
}
.bio{
    background-image: url(../assets/img/BARDERO$/pag4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 1080;
}
.card-h{
    flex-direction: column;
    display: flex;
    height: 300px;
    width: 100%;
}
.card-c{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}
.biografia{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
/* Backgrounds */

/* homer */
.discos-H{
    display: grid;
    grid-template-columns: repeat(4, 18.75rem);
    gap: 80px;
}
.music-card-homer {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid grey;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.music-header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.music-content {
    height: 600px;
    overflow-y: scroll;
    padding: 10px;
}
/* homer */

/* .card {
    width: 300px;
    height: 400px;
    background-color:grey;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.card-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.card-bio {
    margin-top: 10px;
}
.card-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.card-button:hover {
    background-color: #45a049;
} */

/* homer */

/* Cro */
.discos-Cro1{
    display: grid;
    grid-template-columns: repeat(5, 18.75rem);
    grid-template-rows: 500px;
    gap: 80px;
}
.discos-Cro2{
    display: grid;
    grid-template-columns: repeat(5, 18.75rem);
    grid-template-rows: 500px;
    gap: 48px;
}
/* Cro */

/* bio */
.biohomer{
    justify-content: space-around;
    display: flex;
    gap: 6.25rem;
    width: 1920px;
    height: 200px;
    border: .0625rem solid;
    text-align: center;
}
.biocro{
    justify-content: space-around;
    display: flex;
    gap: 6.25rem;
    width: 1920px;
    height: 200px;
    border: .0625rem solid;
    text-align: center;
}
/* Footer */
Footer{
    background-color: lightslategray;
    width: 100%;
    height:100px;
    font-size: 20px;
}
.contact{
    display: flex;
    color: white;
    flex-direction: row-reverse;
}
button{
    background-color: whitesmoke;
}
.redes-sociales{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: .3125rem;
}

/* Media-Queris = 1024/768/425/320*/







