* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index {
  background-image: url(https://i.postimg.cc/tJ8BX4gk/pag1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
}

.bardo {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 300px;
}

.imginmortales {
  display: grid;
  grid-template-columns: 200px;
  gap: 48px;
}

.footer {
  align-items: center;
  justify-content: center;
}

header {
  background-image: url(https://i.postimg.cc/Kc9z0gKB/Bardero-Bardero.gif);
  height: 50vh;
  background-size: cover;
  color: white;
}

.navbar {
  color: white;
}

Footer {
  background-color: lightslategray;
  width: 100%;
  height: 100px;
  font-size: 20px;
}
Footer .contact {
  display: flex;
  color: white;
  flex-direction: row-reverse;
}
Footer .redes-sociales {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 0.3125rem;
}

.discografia {
  color: white;
  background-image: url(https://i.postimg.cc/G3j3HTP6/index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}
.discografia .musik-card {
  width: 400px;
  height: 450px;
  border: 1px solid grey;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.discografia .musik {
  display: grid;
  grid-template-columns: repeat(5, 18.75rem);
  grid-template-rows: 500px 500px;
}
.discografia .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.discografia .music-content {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}

.homer {
  color: white;
  background-image: url(https://i.postimg.cc/Xv2cjYH5/h-pag2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}
.homer .discos-H {
  display: grid;
  grid-template-columns: repeat(4, 18.75rem);
  gap: 80px;
}
.homer .music-card-homer {
  width: 500px;
  height: 500px;
  display: grid;
  border: 1px solid grey;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.homer .musik-card {
  width: 400px;
  height: 450px;
  border: 1px solid grey;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.homer .musik {
  display: grid;
  grid-template-columns: repeat(5, 18.75rem);
  gap: 48px;
}
.homer .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.homer .music-content {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}

.cro {
  color: white;
  background-image: url(https://i.postimg.cc/ZK9PTmpB/cro-pag3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}
.cro .footer {
  width: 100%;
  height: 150px;
}
.cro .discos-Cro1 {
  display: grid;
  grid-template-columns: repeat(5, 18.75rem);
  grid-template-rows: 500px;
}
.cro .discos-Cro2 {
  display: grid;
  grid-template-columns: repeat(5, 18.75rem);
  grid-template-rows: 500px;
}
.cro .musik-card {
  width: 400px;
  height: 450px;
  border: 1px solid grey;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cro .musik {
  display: grid;
  grid-template-columns: repeat(5, 18.75rem);
}
.cro .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.cro .music-content {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}

.bio {
  background-color: black;
  width: 100%;
  height: 1080px;
}
.bio h1 {
  color: white;
}
.bio .card-h {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  gap: 6.25rem;
  width: 1920px;
  height: 100vh;
  border: 0.0625rem solid;
  text-align: center;
}
.bio .card-c {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  gap: 6.25rem;
  width: 1920px;
  height: 100vh;
  border: 0.0625rem solid;
  text-align: center;
}

@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 140px;
  }
  .index {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 150px;
  }
  .bardo {
    padding-right: 250px;
  }
  .imginmortales {
    width: 600px;
    height: 300px;
  }
  .discografia {
    display: grid;
  }
  .musik {
    display: flex;
    width: 100%;
    height: 50px;
  }
  .homer {
    width: 100%;
  }
  .cro {
    width: 100%;
  }
  .bio {
    width: 1024px;
    margin: auto;
  }
  .disco-cro1 {
    display: grid;
    grid-template-columns: repeat(3);
  }
}
@media (max-width: 768px) {
  header {
    width: 100%;
  }
  .bardo {
    padding-left: 220px;
  }
  .imginmortales {
    padding-right: 200px;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
  }
  .index {
    width: 768px;
  }
  .discografia {
    width: 768px;
  }
  .musik {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .homer {
    width: 768px;
  }
  .cro {
    width: 768px;
  }
  .bio {
    width: 768px;
  }
}
@media (max-width: 425px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
    align-items: center;
  }
  footer {
    width: 100%;
  }
  .index {
    width: 425px;
  }
  .bardo {
    margin-left: 150px;
  }
  .imginmortales {
    padding-right: 300px;
    margin: auto;
    margin-left: 70px;
  }
  .discografia {
    width: 425px;
  }
  .musik {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .homer {
    width: 425px;
  }
  .cro {
    width: 425px;
  }
  .bio {
    width: 425px;
  }
}
@media (max-width: 320px) {
  header {
    width: 320px;
    display: flex;
    justify-content: space-evenly;
  }
  main {
    width: 320px;
    align-items: center;
  }
  footer {
    width: 320px;
  }
  .index {
    width: 320px;
  }
  .bardo {
    margin: auto;
    padding-right: 10px;
  }
  .imginmortales {
    margin: auto;
    padding-left: 10px;
    padding-right: 270px;
  }
  .discografia {
    width: 320px;
  }
  .homer {
    width: 320px;
  }
  .cro {
    width: 320px;
  }
  .bio {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
