* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fuentebarderos;
  src: url("./mexican-pride.ttf");
}
.index {
  font-family: fuentebarderos;
  background-image: url(https://i.postimg.cc/tJ8BX4gk/pag1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.index h1 {
  text-align: center;
}
.index .bardo {
  display: grid;
  justify-content: right;
  min-width: 100px;
}
.index .imginmortales {
  display: grid;
  justify-content: right;
  min-width: 100px;
}

.footer {
  align-items: center;
  justify-content: center;
}

.error-404 {
  background-image: url(https://i.postimg.cc/JhhyfQZ0/error-404-word-with-binary-2213139.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  font-family: fuentebarderos;
  background-image: url(https://i.postimg.cc/Kc9z0gKB/Bardero-Bardero.gif);
  height: 20vh;
  background-size: cover;
  color: white;
}

.navbar {
  color: white;
  list-style: none;
}

Footer {
  font-family: fuentebarderos;
  background-color: lightslategray;
  width: 100%;
  font-size: 20px;
}
Footer .contact {
  display: flex;
  color: white;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding-top: 35px;
}
Footer .redes-sociales {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.discografia {
  font-family: fuentebarderos;
  color: white;
  background-image: url(https://i.postimg.cc/G3j3HTP6/index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.discografia h1 {
  font-weight: bold;
  text-align: center;
}

.musik {
  display: grid;
  justify-content: right;
  grid-template-columns: 270px;
}

.musik-2 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: center;
}

.musik-3 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: left;
}

.musik-4 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: right;
}

.musik-card {
  display: grid;
  justify-content: center;
  width: 300px;
  height: 500px;
  border: 1px solid grey;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.musik-card .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.musik-card .music-content {
  height: 600px;
  padding: 10px;
}

.homer {
  font-family: fuentebarderos;
  color: green;
  background-image: url(https://i.postimg.cc/Xv2cjYH5/h-pag2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.homer h1 {
  font-weight: bold;
  text-align: center;
}
.homer .video-h {
  display: grid;
  justify-content: right;
}
.homer .discos-H-1 {
  display: grid;
  grid-template-columns: 270px;
  padding-left: 5px;
  padding-right: 25px;
}
.homer .discos-H-2 {
  display: grid;
  gap: 15px;
  grid-template-columns: 270px;
  justify-content: right;
}
.homer .discos-H-3 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: space-between;
}
.homer .music-card-homer {
  width: 300px;
  display: grid;
  justify-content: right;
  border: 1px solid green;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.homer .music-card-homer .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.homer .music-card-homer .music-content {
  height: 600px;
  padding: 10px;
}

.cro {
  font-family: fuentebarderos;
  color: white;
  background-image: url(https://i.postimg.cc/ZK9PTmpB/cro-pag3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.cro h1 {
  font-weight: bold;
  text-align: center;
}
.cro .discos-Cro1 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: left;
}
.cro .discos-Cro2 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: center;
}
.cro .discos-Cro3 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: right;
}
.cro .discos-Cro4 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: center;
}
.cro .discos-Cro5 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: left;
}
.cro .discos-Cro6 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: center;
}
.cro .discos-Cro7 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: right;
}
.cro .discos-Cro8 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: center;
}
.cro .discos-Cro9 {
  display: grid;
  grid-template-columns: 270px;
  justify-content: left;
}
.cro .discos-Cro10 {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
}
.cro .discos-Cro10 .musik-card {
  width: 300px;
  height: 500px;
  display: grid;
  border: 1px solid green;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cro .discos-Cro10 .musik-card .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.cro .discos-Cro10 .musik-card .music-content {
  height: 600px;
  padding: 10px;
}

.bio {
  font-family: fuentebarderos;
  background-color: black;
  background-image: url(https://i.postimg.cc/d1xBBVGF/Diseno-sin-titulo-85.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.bio h1 {
  font-weight: bold;
  text-align: center;
}
.bio .biografia {
  display: grid;
  justify-content: space-between;
  padding-left: 60px;
  padding-top: 150px;
  grid-template-columns: 500px;
  width: 100%;
}
.bio .biografia h5 {
  text-align: center;
  color: green;
}
.bio .biografia .h5-homer {
  padding-bottom: 360px;
  font-weight: bold;
}
.bio .biografia .h5-cro {
  padding-bottom: 520px;
  font-weight: bold;
}
.bio .biografia .barderos-H5 {
  color: white;
  padding-bottom: 400px;
  font-weight: bold;
}
.bio .biografia p.bardeross {
  color: white;
  font-weight: bold;
}
.bio .biografia .bio-yt {
  display: grid;
  align-items: end;
  padding-top: 190px;
  gap: 20px;
}

@media (max-width: 576px) {
  .musik {
    display: grid;
    grid-template-columns: 270px;
  }
  .musik-2 {
    display: grid;
    grid-template-columns: 270px;
  }
  .musik-3 {
    display: grid;
    grid-template-columns: 270px;
  }
  .musik-card {
    display: grid;
    grid-template-columns: 290px;
  }
}
@media (max-width: 425px) {
  .bio {
    width: 100%;
  }
  .bio .biografia {
    grid-template-columns: 200px;
    align-content: center;
  }
}
@media (max-width: 320px) {
  .musik {
    display: grid;
    grid-template-columns: 270px;
  }
  .musik-2 {
    display: grid;
    grid-template-columns: 270px;
  }
  .musik-3 {
    display: grid;
    grid-template-columns: 270px;
  }
  .musik-card {
    display: grid;
    grid-template-columns: 290px;
  }
}

/*# sourceMappingURL=style.css.map */
