* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fuentebarderos;
  src: url("./mexican-pride.ttf");
}
.index {
  font-family: fuenteBarderos;
  background-image: url(https://i.postimg.cc/tJ8BX4gk/pag1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
}

.bardo {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 300px;
}

.imginmortales {
  display: grid;
  grid-template-columns: 200px;
  gap: 48px;
}

.footer {
  align-items: center;
  justify-content: center;
}

header {
  font-family: fuenteBarderos;
  background-image: url(https://i.postimg.cc/Kc9z0gKB/Bardero-Bardero.gif);
  height: 50vh;
  background-size: cover;
  color: white;
}

.navbar {
  color: white;
}

Footer {
  font-family: fuenteBarderos;
  background-color: lightslategray;
  width: 100%;
  font-size: 20px;
}
Footer .contact {
  display: flex;
  color: white;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
Footer .redes-sociales {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.discografia {
  font-family: fuenteBarderos;
  color: white;
  background-image: url(https://i.postimg.cc/G3j3HTP6/index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.discografia .musik-card {
  width: 300px;
  height: 500px;
  border: 1px solid grey;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.discografia .musik {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 320px);
}
.discografia .musik .pure-drug {
  padding-left: 20px;
}
.discografia .musik-2 {
  display: grid;
  grid-template-columns: repeat(2, 420px);
  width: 420px;
  padding-left: 270px;
}
.discografia .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.discografia .music-content {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}

.homer {
  font-family: fuenteBarderos;
  color: green;
  background-image: url(https://i.postimg.cc/Xv2cjYH5/h-pag2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.homer .barderos {
  padding-top: 20px;
  font-family: fuenteBarderos;
  font-size: 60px;
  padding-left: 450px;
}
.homer .discos-H {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 25px;
}
.homer .discos-H-2 {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 230px);
  justify-content: center;
}
.homer .discos-H-2 .music-content {
  height: 420px;
  overflow-y: scroll;
  padding: 10px;
}
.homer .discos-H-2 .music-card-homer {
  width: 420px;
  height: 500px;
  display: grid;
  border: 1px solid green;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.homer .discos-H-2 .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.homer .discos-H-2 .music-content {
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}
.homer .discos-H-2 .el-mundo-es-tuyo {
  display: grid;
}
.homer .discos-H-2 .footer {
  width: 100%;
}

.cro {
  font-family: fuentebarderos;
  color: white;
  background-image: url(https://i.postimg.cc/ZK9PTmpB/cro-pag3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.cro .footer {
  width: 100%;
}
.cro .discos-Cro1 {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(3, 350px);
}
.cro .discos-Cro2 {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-evenly;
}
.cro .discos-Cro3 {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-evenly;
}
.cro .musik-card {
  width: 380px;
  height: 420px;
  border: 1px solid grey;
  overflow-y: scroll;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cro .music-header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.cro .music-content {
  overflow-y: scroll;
}

.bio {
  font-family: fuenteBarderos;
  background-color: black;
  background-image: url(https://i.postimg.cc/d1xBBVGF/Diseno-sin-titulo-85.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1080px;
}
.bio h1 {
  color: black;
}
.bio .biografia {
  padding-left: 50px;
  padding-top: 150px;
  display: flex;
  width: 100%;
  max-height: 1000px;
}
.bio .biografia h5 {
  padding-bottom: 420px;
  color: green;
}

@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 140px;
  }
  .index {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 150px;
  }
  .bardo {
    padding-right: 250px;
  }
  .imginmortales {
    width: 600px;
    height: 300px;
  }
  .discografia {
    display: grid;
  }
  .musik {
    display: flex;
    width: 100%;
    height: 50px;
  }
  .homer {
    width: 100%;
  }
  .cro {
    width: 100%;
  }
  .bio {
    width: 1024px;
    margin: auto;
  }
  .disco-cro1 {
    display: grid;
    grid-template-columns: repeat(3);
  }
}
@media (max-width: 768px) {
  header {
    width: 100%;
  }
  .bardo {
    padding-left: 220px;
  }
  .imginmortales {
    padding-right: 200px;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
  }
  .index {
    width: 768px;
  }
  .discografia {
    width: 768px;
  }
  .musik {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .homer {
    width: 768px;
  }
  .cro {
    width: 768px;
  }
  .bio {
    width: 768px;
  }
}
@media (max-width: 425px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
    align-items: center;
  }
  footer {
    width: 100%;
  }
  .index {
    width: 425px;
  }
  .bardo {
    margin-left: 150px;
  }
  .imginmortales {
    padding-right: 300px;
    margin: auto;
    margin-left: 70px;
  }
  .discografia {
    width: 425px;
  }
  .musik {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .homer {
    width: 425px;
  }
  .cro {
    width: 425px;
  }
  .bio {
    width: 425px;
  }
}
@media (max-width: 320px) {
  header {
    width: 320px;
    display: flex;
    justify-content: space-evenly;
  }
  main {
    width: 320px;
    align-items: center;
  }
  footer {
    width: 320px;
  }
  .index {
    width: 320px;
  }
  .bardo {
    margin: auto;
    padding-right: 10px;
  }
  .imginmortales {
    margin: auto;
    padding-left: 10px;
    padding-right: 270px;
  }
  .discografia {
    width: 320px;
  }
  .homer {
    width: 320px;
  }
  .cro {
    width: 320px;
  }
  .bio {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
