.bio{
    font-family: fuentebarderos;
    background-color: black;
    background-image: url(https://i.postimg.cc/d1xBBVGF/Diseno-sin-titulo-85.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    h1{
        font-weight: bold;
        text-align: center;
    }
    .biografia{
        display: grid;
        justify-content: space-between;
        padding-left: 60px;
        padding-top: 150px;
        grid-template-columns: 500px;
        width: 100%;

        h5{
        text-align:center;
            color: green;
        }
        .h5-homer{
            padding-bottom: 360px;
            font-weight: bold;
        }
        .h5-cro{
            padding-bottom: 520px;
            font-weight: bold;
        }
        .barderos-H5{
            color: white;
            padding-bottom: 400px;
            font-weight: bold;
        }
        p.bardeross{
            color: white;
            font-weight: bold;
        }
        .bio-yt{
        display: grid;
        align-items: end;
        padding-top: 190px;
        gap: 20px;
        }
    }
}
