.cro{
    font-family: fuentebarderos;
    color: white;
    background-image: url(https://i.postimg.cc/ZK9PTmpB/cro-pag3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    .discos-Cro1{
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(3, 350px);
    }
    .discos-Cro2{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        justify-content: space-evenly;
    }
    .discos-Cro3{
        display: grid;
        grid-template-columns: repeat(3,350px);
        justify-content: space-evenly;
    }
    .musik-card {
        width: 380px;
        height: 420px;
        border: 1px solid grey;
        overflow-y:scroll;
        box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .music-header {
        background: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    .music-content {
        overflow-y: scroll;
    }
    .footer{
        width: 100%;
    }
}