Footer{
    font-family: fuentebarderos;
    background-color: lightslategray;
    width: 100%;
    font-size: 20px;
    .contact{
        display: flex;
        color: white;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        padding-top: 35px;
    }
    
    .redes-sociales{
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
}
