header{
    font-family: fuentebarderos;
background-image: url(https://i.postimg.cc/Kc9z0gKB/Bardero-Bardero.gif);
height: 20vh;
background-size: cover;
color: white;

}
.navbar{
    color: white;
    list-style: none;
}