header{
background-image: url(https://i.postimg.cc/Kc9z0gKB/Bardero-Bardero.gif);
width: 100%;
height: 170px;
background-repeat: no-repeat;
background-size: cover;
font-size: 20px;
padding: 4px ;
button{
    background-color: whitesmoke;
}
}
.navbar{
display: flex;
flex-direction: row-reverse;
width: 100%;
height: 100px;
align-items: center;
text-decoration-color: whitesmoke;
list-style: none;
gap: 1.25rem;
color: white;
font-size: 20px;
}