
    .index{
    font-family: fuentebarderos;
    background-image: url(https://i.postimg.cc/tJ8BX4gk/pag1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
        
    h1{
        text-align: center;
    }
    .bardo{
        display: grid;
        justify-content: right;
        min-width: 100px;
    }
    .imginmortales{
        display: grid;
        justify-content: right;
        min-width: 100px;

    }  
    } 
    .footer{
        align-items: center;
        justify-content: center;
    }
