@media (max-width:1024px){
    header{
        width: 100%;
        height: 140px;
    }
    
    .index{
        width: 100%;
    }
    .footer{
        width: 100%;
        height: 150px;
    }
    .bardo{
    padding-right: 250px;
    }
    .imginmortales{
        
        width: 600px;
        height: 300px;
    }
    .discografia{
        display: grid;
        }
    .musik{
        display: flex;
        width: 100%;
        height: 50px;
    }
    .homer{
        width: 100%;
    }
    .cro{
        width: 100%;
    }
    .bio{
        width: 1024px;
        margin: auto;
    }
    .disco-cro1{
        display: grid;
        grid-template-columns: repeat(3,);
    }
    
}