@media (max-width:576px){
    .musik{
        display: grid;
        grid-template-columns: 270px;
    }
    .musik-2{
        display: grid;
        grid-template-columns: 270px;
    }
    .musik-3{
        display: grid;
        grid-template-columns: 270px;
    }
    .musik-card{
        display: grid;
        grid-template-columns: 290px;
    }
}