@media (max-width:320px){
    header{
        width: 320px;
        display: flex;
        justify-content: space-evenly;
    }
    main{
        width: 320px;
        align-items: center;
    }
    footer{
        width: 320px;
    }
    .index{
    width: 320px;
}
.bardo{
    margin: auto;
    padding-right: 10px;
}
.imginmortales{
    margin: auto;
    padding-left: 10px;
    padding-right: 270px;
}
    .discografia{
    width: 320px;
}
    .homer{
    width: 320px;
}
    .cro{
    width: 320px;
}
    .bio{
    width: 320px;
}   
// .card-h{
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 300px;
//     width: 100%;
//     padding-left: 130px;
// }
// .card-c{
//     display: flex;
//     flex-direction: column;
//     margin-top: 400px;
//     width: 100%;
//     padding-right: 150px;
// }
}